.container {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.social {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  opacity: 0.6;
  cursor: pointer;
}
.icon:hover {
  opacity: 1;
}
